<h1>Articles</h1>


<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<div>
<%= link_to "New Article", new_article_path %>
</div>
<div>
<%= link_to "New User","users/new"%>
</div>

<div>
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
</div>
<%= yield %>